body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #c6fbff, #68d4cf, #70d3ec, #1dcaff, #a5f1ff, #91f3fa);
  animation: rainbow 20s infinite linear;
}

@keyframes greenGradient {
  0% { background-color: #04f7a6; } /* Starting green color */
  100% { background-color: #09f115; } /* Ending green color */
}


.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-bottom: 50px; /* Add some bottom margin to create space for the extra frame */
  max-width: 600px;
  max-height: 80vh; /* Set a maximum height for the form */
  overflow-y: auto; /* Enable vertical scrolling when necessary */
}

.login-container {
  position: relative; /* Set the position of the container to relative */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-form:hover {
  transform: translate(0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Adding box shadow on hover */
  transition: box-shadow 0.3s ease; /* Adding transition effect to box-shadow property */
}

h3,h1 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50; /* Starting green color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: greenGradient 5s infinite alternate; /* Apply the greenGradient animation */
}

button[type="submit"]:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

.extra-frame {
  position: absolute;
  bottom: 10px; /* Adjust vertical position */
  right: 10px; /* Adjust horizontal position */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); /* Stronger gradient */
  margin: 20px 0;
}

