body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #c6fbff, #68d4cf, #70d3ec, #1dcaff, #a5f1ff, #91f3fa);
    animation: rainbow 20s infinite linear;
  }
  
  .frame-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 0 auto; 
    width: 80%; 
    max-width: 1400px; 
  }
  
  .frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }
  
  .frame-form:hover {
    transform: translate(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease; 
  }
  
  .extra-frame {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
  }
  
  hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); 
    margin: 20px 0;
  }
  
  .slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    gap: 20px;
  }
  
  .slot {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    flex: 0 0 calc(10% - 20px);
    background-color: rgba(255, 255, 255, 0.3);
    height: 120px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .slot:hover {
    transform: translateY(-15px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  }
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1; 
  }
  
  
  
  .item-img {
    max-width: 80%; 
    max-height: 80%; 
    display: block; 
    margin: auto; 
    padding: 10%; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
  }
  
  

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

